*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --easy-white: #fafafa;
  --background: #ebebf0;
  --light-grey: #ebebf0;
  --dark-grey: #9c9899;
  --turquoise: #1ead83;
  --black: #0f0f0f;

  /* Shadows */
  --text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;

  /* font */
  --main-font: 'Montserrat', sans-serif;

  /* Font Setup */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
